.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color:rgb(18, 155, 247);
    position: fixed;
    height: 100vmax;
    overflow: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  
.sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
}
   
.sidebar a.active {
    background-color: rgb(51, 174, 245);
    color: white;
}
  
.sidebar a:hover:not(.active) {
    background-color: rgb(51, 174, 245);
    color: white;
}
  
.navbar {
    padding: 1px 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.content {
    margin-left: 200px;
    padding: 50px 20px;
    /* height: 100vmax; */
}
  
  
@media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.navbar {margin-left: 0;}
}
  
@media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
}


.table { 
    width: 100%; 
    border-collapse: collapse; 
}
  /* Zebra striping */
.tr:nth-of-type(odd) { 
    background: #eee; 
}
.th { 
    background: #333; 
    color: white; 
    font-weight: bold; 
}
.td, .th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: left; 
}

@media 
only screen and (max-width: 1275px)
{

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	table.institute td:nth-of-type(1):before { content: "Sr. no."; }
	table.institute td:nth-of-type(2):before { content: "Name"; }
	table.institute td:nth-of-type(3):before { content: "Mobile"; }
	table.institute td:nth-of-type(4):before { content: "Email"; }
    table.institute td:nth-of-type(5):before { content: "City"; }
    table.institute td:nth-of-type(6):before { content: "District"; }
    table.institute td:nth-of-type(7):before { content: "State"; }
    table.institute td:nth-of-type(8):before { content: "Status"; }
    table.institute td:nth-of-type(9):before { content: "Profile"; }
    table.institute td:nth-of-type(10):before { content: "Action"; }


    table.student td:nth-of-type(1):before { content: "Sr. no."; }
    table.student td:nth-of-type(2):before { content: "Name"; }
    table.student td:nth-of-type(3):before { content: "Institute Name"; }
    table.student td:nth-of-type(4):before { content: "Exam Name"; }
    table.student td:nth-of-type(5):before { content: "Exam Year"; }
    table.student td:nth-of-type(6):before { content: "Product Type"; }
    table.student td:nth-of-type(7):before { content: "District"; }
    table.student td:nth-of-type(8):before { content: "State"; }
    table.student td:nth-of-type(9):before { content: "Status"; }
    table.student td:nth-of-type(10):before { content: "Actions"; }
	
}